<!--The content below is only a placeholder and can be replaced.-->
<div>
  <app-header></app-header>
  <router-outlet></router-outlet>
  <app-input></app-input>
</div>

<!-- <form action="http://localhost/api/uploads" method="post" enctype="multipart/form-data">
  Select file to upload:
  <input type="file" name="fileToUpload" id="fileToUpload">
  <input type="submit" value="Upload File" name="submit">
</form>
<br>
<br>
<form action="http://localhost/api/uploads"  method="post" enctype="multipart/form-data">
  <input #fileInput name="file" type="file" (change)="handleFileInput($event.target.files)">
  <button mat-raised-button class="standard-button" (click)="uploadFile()">Upload file</button>
</form>


<br>
<br>

<div ng-app="app">
    <div ng-controller="AppController">
        <input type="file" nv-file-select uploader="uploader"/><br/>
        <ul>
            <li ng-repeat="item in uploader.queue">
                Name: <span ng-bind="item.file.name"></span><br/>
                <button ng-click="item.upload()">upload</button>
            </li>
        </ul>
    </div>
</div>

<angular-file-uploader
      [config]="afuConfig">
</angular-file-uploader> -->

